@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  font-family: var(--font-montserrat), sans-serif;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glass-effect-bar {
  background: rgba(255, 255, 255, 0.1); /* Arrière-plan semi-transparent */ 
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  /* box-shadow: 0 4px 6px rgba(165, 235, 179, 0.514); Ombre légère   */
}

.glass-effect-card {
  background: rgba(255, 255, 255, 0.308); /* Arrière-plan semi-transparent */ 
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border: 2px solid rgba(0, 0, 0, 0.3); /* Bordure légère */
  padding: 10px; /* Espacement interne */
}

.glass-effect {
  background: rgba(235,255,56,0.3); /* Arrière-plan semi-transparent */
  border-radius: 21px; /* Coins arrondis */
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border: 2px solid rgba(0, 0, 0, 0.3); /* Bordure légère */
  padding: 10px; /* Espacement interne */
}

.glass-effect-green {
  background: rgba(52, 248, 13, 0.1); /* Arrière-plan semi-transparent */
  border-radius: 21px; /* Coins arrondis */
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Bordure légère */
  padding: 10px; /* Espacement interne */
}

.glass-effect-yellow {
  background: rgba(230, 255, 1, 0.308); /* Arrière-plan semi-transparent */
  border-radius: 21px; /* Coins arrondis */
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Bordure légère */
  padding: 10px; /* Espacement interne */
}

.glass-effect-orange {
  background: rgba(243, 179, 3, 0.39); /* Arrière-plan semi-transparent */
  border-radius: 21px; /* Coins arrondis */
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Bordure légère */
  padding: 10px; /* Espacement interne */
}
.glass-effect-white {
  background: rgb(52, 248, 13, 0.1); /* Arrière-plan semi-transparent */
  border-radius: 21px; /* Coins arrondis */
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border: 2px solid rgba(0, 0, 0, 0.3); /* Bordure légère */
  padding: 10px; /* Espacement interne */
}

.glass-effect-neutral {
  background: rgba(0, 0, 0, 0.151); /* Arrière-plan semi-transparent */
  border-radius: 10px; /* Coins arrondis */
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border: 1px solid rgba(0, 0, 0, 0.3); /* Bordure légère */  
  padding: 10px; /* Espacement interne */
}
.glass-effect-form {
  background: rgba(100, 99, 99, 0.151); /* Arrière-plan semi-transparent */
  border-radius: 10px; /* Coins arrondis */
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Support pour Safari */
  border: 1px solid rgba(0, 0, 0, 0.3); /* Bordure légère */  
  padding: 10px; /* Espacement interne */
}